* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-inline: 5%;
}

footer {
    padding-inline: 5%;
}

header {
    padding-inline: 0;
}

ul {
    margin-left: 1em;
    margin-top: 20px;
}

h1 {
    font-size: 3rem;
}
/*pattern top + logo*/
.top {
    background-color:#4ea0ff;
    width: 100%;
    margin: 0%;
    padding-left: 5%;
    position: relative;
    background-repeat: repeat;
    background-size: contain;
    background-image: url(../img/pattern.png);
}

/*credits*/
h2 {
    color: gray;
    font-size: large;
    margin-top: 20px;

}

span {
    color: #4ea0ff;
}

.date {
    color: gray;
    margin: 1;
}

/*photo description*/
.photo {
    font-size: small;
}

.underline {
    background-color: yellow;
    color: black;
    width: auto;
}

/*table*/
table {
    border-collapse: collapse;
    margin-block: 2%;
}

thead>tr {
    color: white;
    background-color: #20a9e5;
}

tr {
    background-color: #b1e5f2;
}

.white {
    background-color: white;
}

.last {
    width: 50%;
}

/*written on the images*/
#lorem {
    margin-top: 10px;
    background-image: url('../img/monitor.jpg');
    color: #FFFFFF;
    font-size: 110%;
    font-weight: normal;
    text-align: center;
    width: 240px;
    height: 150px;
}

#lorem1 {
    margin-top: 10px;
    background-image: url('../img/graph.jpg');
    color: #FFFFFF;
    font-size: 110%;
    font-weight: normal;
    text-align: center;
    width: 240px;
    height: 150px;
}